$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$background: #f6f6f6;

@mixin tablette {
    @media screen and (min-width: 769px) and (max-width: 992px) {
        @content
    }
}

@mixin desktop {
    @media screen and (min-width: 993px) {
        @content
    }
}

@mixin box-shadow {
    box-shadow: 3px 3px 3px (darken($color: $background, $amount: 20%));
}

@font-face {
    font-family: 'roboto';
    src: url(polices/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'shrikhand';
    src: url(polices/Shrikhand-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

/* HEADER */
body {
    background-color: $background;
}

header {
    width: 100%;
    height: 50px;
}

.logo_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & i{
        font-size: larger;
        margin-top: 10px;
        margin-left: 20px;
        @include tablette {
            font-size: 2em;
        }
        @include desktop {
            font-size: 2em;
        }
    }
    & a {
        color: black;
    }
    & h1 {
        margin: auto;
        margin-top: 15px;
        font-weight: lighter;
    }
}

#title_index {
    padding-top: 15px;
    text-align: center;
}

h1 {
    font-family: 'shrikhand';
    font-size: xx-large;
}
h2 {
    font-size: 1.8em;
}

#localisation {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(236, 234, 234);
    box-shadow: 0px 1px 3px rgb(194, 194, 194) inset ;
    & i {
        margin-right: 20px;
    }
}

#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 60px 0;
    & h2 {
        margin: 0 60px 10px 60px;
        text-align: center;
    }
    & p {
        margin: 0 30px 20px 30px;
        text-align: center;
        color: rgb(104, 104, 104);
    }
}

.btn {
    background-image: linear-gradient($secondary, $primary);
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 30px;
    @include box-shadow;
    transition: 250ms;
    &:hover {
        background-image: linear-gradient((lighten($color: $secondary, $amount: 5%)), (lighten($color: $primary, $amount: 5%)));
        box-shadow: 6px 6px 4px (darken($color: $background, $amount: 20%));
    }
}

aside {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 80px;
    & h2 {
        margin-left: 20px;
        @include tablette {
            margin-left: 60px;
        }
        @include desktop {
            margin-left: 60px;
        }
    }
}

#fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    @include tablette {
        align-items: flex-start;
        margin-left: 60px;
    }
    @include desktop {
        align-items: flex-start;
        margin-left: 60px;
    }
}

.fonction {
    background-color: $background;
    display: flex;
    flex-direction: row;
    width: 90%;
    font-weight: bold;
    font-size: x-large;
    padding: 30px 0 30px 0;
    margin-bottom: 25px;
    border-radius: 25px;
    @include box-shadow;
    @include tablette {
        width: 60%;
    }
    @include desktop {
        width: 60%;
    }
    & .fa-solid {
        margin-right: 30px;
        margin-left: 25px;
        color: rgb(104, 104, 104);
    }
    &:hover .fa-solid {
        color: #9356dc;
    }


}

.number {
    background-color: #9356dc;
    color: white;
    font-weight: 100;
    font-size: smaller;
    text-align: center;
    width: 30px;
    height: 28px;
    border-radius: 50%;
    margin-left: -10px;
    padding-top: 4px;
}

main {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 266px;
    margin-top: 15px;
    @include desktop {
        height: 400px;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & i {
        font-size: x-large;
        margin-right: 40px;
    }
}

.menus {
    width: 100%;
    background-color: $background;
    border-radius: 25px;
    padding-top: 30px;
    margin-top: -20px;
    z-index: 2;
    & h1 {
        text-align: left;
        margin-left: 7.6%;
        font-weight: lighter;
    }
    & h3 {
        margin-left: 6.8%;
        width: 10%;
        margin-top: 30px;
        font-weight: lighter;
        border-bottom: 3px solid $tertiary;
    }
}

.liste_menu {
    @include desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.menu {
    @include desktop {
        width: 50%;
    }
}

.plat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    width: 90%;
    margin: 10px 5% 5% 5%;
    padding: 25px 0 25px 0;
    border-radius: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include box-shadow;
    & h4 {
        font-size: larger;
        margin-left: 3%;
    }
    & p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 30px 0 3%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

footer {
    background-color: rgb(56, 54, 54);
    color: white;
    margin-top: 70px;
    padding: 20px 0 20px 20px;
    & i {
        float: left;
        margin-right: 10px;
    }
    & .fa-utensils {
        margin-right: 15px;
    }
    & h3 {
        font-family: 'shrikhand';
        font-weight: lighter;
        font-size: larger;
        margin-bottom: 20px;
    }
    & p {
        margin-bottom: 10px;
    }
    & a {
        text-decoration: none;
        color: white;
    }
}

#resto_title {
    margin-left: 5%;
    margin-top: 50px;
}

#restaurants {
    width: 100%;
    @include tablette {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }    
}

.card {
    width: 90%;
    height: 340px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    position: relative;
    @include box-shadow;
    @include tablette {
        width: 40%;
    }
    @include desktop {
        width: 40%;
    }
    & a {
        text-decoration: none;
        color: black;
        border-radius: inherit;
        height: 340px;
    }
    &_img {
        width: 100%;
        height: 260px;
        border-radius: inherit;
        & img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            border-radius: inherit;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    & .new {
        background-color: $tertiary;
        color: darken($color: $tertiary, $amount: 50%);
        width: 20%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    &_body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        &_title {
            font-size: large;
            & h3, p {
                margin-bottom: 10px;
                margin-left: 15px;
            }
        }
        & i {
            font-size: xx-large;
            margin-right: 20px;
            margin-bottom: 10px;
            & .fill {
                background-color: $primary;
                height: 1em;
                opacity: 1;
                transition: opacity 0.3s linear 2s;
                &:hover {
                    transition: 300ms;
                    background-image: linear-gradient((lighten($color: $secondary, $amount: 5%)), (lighten($color: $primary, $amount: 5%)));
                    transform: translateY(-0.5em);
                }
            }
        }
    }
}

