.plat {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    @include box-shadow;
    overflow: hidden;
    cursor: pointer;
    animation: itemappear 2.5s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);    
    max-width: 100%;
    &_title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }

    &_titre {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &_description {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &_prix {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
    }

    &_confirmation {
        background-color: $tertiary;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
    }

    &:hover &_confirmation {
        margin-right: -1rem;
    }

    &_wrapicon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: $tertiary;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(90deg);
        transition-duration: 500ms;
        transition-delay: 250ms;
    }

    &:hover &_wrapicon {
        transform: rotate(360deg);
    }

    &_icon {
        color: white;
        font-size: 25px;
    }
}

@for $i from 0 to 9 {
    .delay-#{$i} {
        animation-delay: #{$i/10}s;
    }
}